<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}"></title>

    <link th:href="@{/css/bootstrap-4.1.3-dist/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<h2 class="display-1 text-danger">Welcome to Cydeo Student Register Form</h2>
<h2 class="cydeo">My Custom Css</h2>

<!--Image Integration-->
<img th:src="@{/images/welcome-38249.png}">
<!--Display value of model-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>
<h2 th:text="${students.get(0).getAge()}"></h2>

<!--Concatenation -->

<h2 th:text="${ 'Hello '+students.get(0).firstName}"></h2>
<h2 th:text="${ students.get(0).getFirstName()+' '+students.get(0).lastName}"></h2>

<!--Link Urls-->
<h2>
    <a th:href="@{https://cydeo.com}">Cydeo Page</a>
</h2>
<h2>
    <a th:href="@{/student/welcome}">Welcome</a>
</h2>
<!--Adding parameters in Link-->
<h2>
    <a th:href="@{/student/welcome(name=${students.get(0).getFirstName()})}">Name</a>
</h2>
<!--Iteration-->
<h2>
    Printing Student FirstName
<ul>
    <li th:each="student:${students}" th:text="${student.getFirstName()}">Link3</li>
</ul>
</h2>
<h2>
    Printing Student LastName
    <ul>
        <li th:each="student:${students}" th:text="${student.getLastName()}">Link4</li>
    </ul>
</h2>
<h2>
<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>State</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${students}">
        <td th:text="${student.getFirstName()}"></td>
        <td th:text="${student.getLastName()}"></td>
        <td th:text="${student.getAge()}"></td>
        <td th:text="${student.getState()}"></td>

    </tr>

    </tbody>
</table>

<!--    Conditional Logic-->
    <div th:text="${students.get(0).getAge()>25?'Eligibe':'Not Eligible'}"></div>
    <div>
        <span th:if="${students.get(0).getState()=='Arizona'}"></span>
        <span th:unless="${students.get(0).getState()=='Arizona'}">No Arizona</span>
    </div>
</h2>
</body>
</html>